* {
  --color1: #080215;
  /* --color1: white */
  --color2: #C7E2FF;
  --color3: #1976d2;
  --colorAux: rgb(58, 51, 159);
}

body {
  background-color: var(--color1) !important;
}

.logo img {
  width: 20rem;
  height: 15rem;
}

.textField {
  background-color: var(--color1);
  margin-top: 15rem;
  text-transform: capitalize;
}

.textField input {
  color: var(--color2);
  font-weight: bold;
}

.textField label {
  color: var(--color2)
}

.iconNavBar {
  width: 8rem;
  height: 8 rem;
  background-size: cover;
}

.titulos {
  color: #C7E2FF;
  font-size: 2rem !important;
  text-shadow: 1px 1px 2px blue;
}

.MuiListItemText-primary {
  color: white;
  font-size: 1.4rem !important;
}

.MuiListItemText-secondary {
  color: rgba(255, 255, 255, 0.658) !important;
  font-size: .8rem !important;
}

.Select {
  background-color: transparent;
  border: solid 1px var(--color2);
  color: var(--color2);
  width: 100%;
  padding: 1rem;
  margin-top: 15px;
  border-radius: 3%;
  font-size: 1rem !important;
  cursor: pointer;
  text-transform: capitalize;
}

.Select option {
  background-color: var(--color1);
  color: var(--color2);

}

.contenedorFormulario {
  border: 2px var(--color2);
  border-style: ridge;
  border-radius: 5%;
  margin-top: 35px;
}

.tituloFormulario {
  text-align: center;
  color: var(--color2);
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 2rem;
}

.DataTable {
  color: var(--color2) !important;
}

.DataTable svg,
button {
  color: var(--color2) !important;
}

.contenedorProductos {
  margin-top: 1rem;
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 3rem;
  grid-auto-rows: 13rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}


.textoModal span {
  font-weight: 400;
}

@media print {
  .no-print {
    display: none !important;
  }
}

.table {
  background-color: var(--color1) !important;
  border: solid 1px white;
}

.table th,
td {

  color: white !important;
}

.Autocomplete input,
label {
  color: white !important;
}

.Autocomplete {
  background-color: var(--color3);
  margin-left: 10px;
}

.SelectQuotation {
  background-color: var(--color3);
  height: 55px;
  margin: 0;
  padding: 0;
  border: none;
  color: white
}

/* .inputQuotModal {
  border: 1px solid white !important;
} */

.inputQuotModal input {
  color: white !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.iconNavbar {
  cursor: pointer;
  width: 45px;
  height: 45px;
  padding-right: 1%;
  padding-left: 7%;
}

#cardLogin {
  display: flex;
  background-color: #2196f3;
  color: white !important;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}